{% extends "blog/base.html" %}
{% block content %}
    <h1 class="mb-3">({{ page_obj.paginator.count }}) results</h1>
    {% for post in page_obj %}
        <article class="media content-section">
        <img class='rounded-circle article-img' src="{{ post.author.profile.image.url }}">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.task }}</a></h2>
        <p class="article-content">{{ post.details }}</p>
        <p class="article-content">Start date: {{ post.time_from }}</p>
        <p class="article-content">Due date: {{ post.time_to }}</p>
        {% now "Y-m-d" as todays_date %}
        {% if todays_date < post.time_from|date:"Y-m-d" and todays_date < post.time_to|date:"Y-m-d"  %}
        <p class="article-content">Status: White</p>

        {% elif todays_date == post.time_from|date:"Y-m-d" and todays_date < post.time_to|date:"Y-m-d" %}
        <p class="article-content">Status: Green</p>

        {% elif todays_date > post.time_from|date:"Y-m-d" and todays_date < post.time_to|date:"Y-m-d" %}
        <p class="article-content">Status: Green</p>

        {% elif todays_date > post.time_from|date:"Y-m-d" and todays_date == post.time_to|date:"Y-m-d" %}
        <p class="article-content">Status: Yellow</p>

        {% elif todays_date > post.time_from|date:"Y-m-d" and todays_date > post.time_to|date:"Y-m-d" %}
        <p class="article-content">Status: Red</p>

        {% endif %}
        </div>
        </article>
    {% endfor %}
    
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endblock content %}